.container4{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    justify-content: center;
    height: 800px;
    background-color: #212436;
    align-items: center;
    padding: 50px 0 50px 0; 
}

.sub_container6 img{
    width: 100%;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sub_container6{
    background-color: #1d1a2b;
    border-radius: 10px;
    width: 300px;
    height: 320px;
    color: white;
    display: flex;
    align-items: left;
    flex-direction: column;
}

.sub_container6 h3{
    margin: 10px 0 0 5px;
    font-weight: 1000;
    font-size: 1.1rem;
}

.sub_container6  p{
    margin: 8px 0 0 5px;
    font-size: .8rem;
    word-spacing: 2.5px;
}